/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Body and main layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */
}

main {
    flex: 1; /* Hace que el main ocupe el espacio restante, empujando el footer al fondo */
    padding: 40px;
}

/* HEADER */
header {
    height: 350px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    color: white;
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* MAIN SECTIONS */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 200px;
}

section p {
    width: 45%;
}

section img {
    width: 45%;
    height: 250px;
    width: auto;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
